<?xml version="1.0" encoding="utf-8"?>
<State xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Options>
    <AutoIndent>true</AutoIndent>
    <IndentSpacesSize>2</IndentSpacesSize>
    <AutoClose>true</AutoClose>
  </Options>
  <Size>
    <X>1122</X>
    <Y>585</Y>
  </Size>
  <TopSplitterPosition>0.75</TopSplitterPosition>
  <LeftSplitterPosition>0.57973737</LeftSplitterPosition>
  <EditedFile>D:\projects\Origin\Origin\Mods\Core\DebugInfo.xmmp</EditedFile>
  <LastFolder>D:\projects\Origin\Origin\Mods\Core</LastFolder>
  <UserColors>
    <Color>
      <B>255</B>
      <G>255</G>
      <R>255</R>
      <A>255</A>
      <PackedValue>4294967295</PackedValue>
    </Color>
    <Color>
      <B>217</B>
      <G>217</G>
      <R>217</R>
      <A>255</A>
      <PackedValue>4292467161</PackedValue>
    </Color>
    <Color>
      <B>178</B>
      <G>178</G>
      <R>178</R>
      <A>255</A>
      <PackedValue>4289901234</PackedValue>
    </Color>
    <Color>
      <B>140</B>
      <G>140</G>
      <R>140</R>
      <A>255</A>
      <PackedValue>4287401100</PackedValue>
    </Color>
    <Color>
      <B>102</B>
      <G>102</G>
      <R>102</R>
      <A>255</A>
      <PackedValue>4284900966</PackedValue>
    </Color>
    <Color>
      <B>64</B>
      <G>64</G>
      <R>64</R>
      <A>255</A>
      <PackedValue>4282400832</PackedValue>
    </Color>
    <Color>
      <B>32</B>
      <G>32</G>
      <R>32</R>
      <A>255</A>
      <PackedValue>4280295456</PackedValue>
    </Color>
    <Color>
      <B>0</B>
      <G>0</G>
      <R>0</R>
      <A>255</A>
      <PackedValue>4278190080</PackedValue>
    </Color>
    <Color>
      <B>48</B>
      <G>57</G>
      <R>254</R>
      <A>255</A>
      <PackedValue>4281350654</PackedValue>
    </Color>
    <Color>
      <B>3</B>
      <G>149</G>
      <R>255</R>
      <A>255</A>
      <PackedValue>4278425087</PackedValue>
    </Color>
    <Color>
      <B>1</B>
      <G>204</G>
      <R>255</R>
      <A>255</A>
      <PackedValue>4278308095</PackedValue>
    </Color>
    <Color>
      <B>97</B>
      <G>217</G>
      <R>75</R>
      <A>255</A>
      <PackedValue>4284602699</PackedValue>
    </Color>
    <Color>
      <B>250</B>
      <G>198</G>
      <R>91</R>
      <A>255</A>
      <PackedValue>4294624859</PackedValue>
    </Color>
    <Color>
      <B>255</B>
      <G>121</G>
      <R>3</R>
      <A>255</A>
      <PackedValue>4294932739</PackedValue>
    </Color>
    <Color>
      <B>213</B>
      <G>86</G>
      <R>87</R>
      <A>255</A>
      <PackedValue>4292171351</PackedValue>
    </Color>
    <Color>
      <B>191</B>
      <G>86</G>
      <R>207</R>
      <A>255</A>
      <PackedValue>4290729679</PackedValue>
    </Color>
  </UserColors>
</State>